/* Estilos para o pop-up */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(58, 57, 57);
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(250, 248, 248, 0.97);
    z-index: 9999;
}

.popup h2{
    color: chartreuse;
}

.popup p{
    color: white;
}

.button-popup{
    border: 0;
    border-radius: 30px;
    background-color: chartreuse;
    cursor: pointer;
    padding: 10px 25px;
    font-size: 17px;
    font-weight: 450;
}

.icons-popup {
    justify-content: center;
    display: inline-block;
    padding: 40px 4%;
    cursor: pointer;
    color: chartreuse;
    font-size: 48px;    
}